img {
  width: 30%; height:30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  color: darkblue;
  text-align: center;
}

h3 {
  font-style: italic;
  text-align: center;
}

p {
  font-family: sans-serif;
}

.projects {
  color: darkgreen;
}

.city {
  font-style: italic;
}

body {
  margin-top: auto;
  margin-bottom: auto
  background-color: coral;
}

div {
  padding: top;
  padding: bottom;
}
